<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>


</head>
<body>
    {{{ body }}}

    {{> nav }}

    <div class="parallax">
        {{!-- <img src="img/taxi.png" class="img-fluid parallax" style=" width: 100%; height: 500px;" alt=""> --}}
    </div>
    <div class="text-center">
        <h2>Necesitas un taxi? elige la hora y el lugar ;)</h1>
    </div>
            <div class=" ">
                <div class="row ">
                    <div class="col-8 ">
                        <table class="table table-sm table-dark ">
                            <div class="table-responsive ">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>Horarios </th>
                                            <th></th>
                                            <th>Horarios </th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                        <td>8:00</td>
                                        <td>
                                            <button class="btn bg-success 1" onclick="reservar()">8</button>
                                        </td>
                                        <td>2:00</td>
                                        <td>
                                            <button class="btn bg-success 2" onclick="reservar()">8</button>
                                        </td>
                                        </tr>
                                        <tr>
                                        <td>8:30</td>
                                        <td>
                                            <button class="btn bg-success 3" onclick="reservar()">8</button>
                                        </td>
                                        <td>2:30</td>
                                        <td>
                                            <button class="btn bg-success 4" onclick="reservar()">8</button>
                                        </td>
                                        </tr>
                                        <tr>
                                        <td>9:00</td>
                                        <td>
                                            <button class="btn bg-success 5" onclick="reservar()">8</button>
                                        </td>
                                        <td>3:00</td>
                                        <td>
                                            <button class="btn bg-success 6" onclick="reservar()">8</button>
                                        </td>
                                        </tr>
                                        <tr>
                                        <td>9:30</td>
                                        <td>
                                            <button class="btn bg-success 7" onclick="reservar()">8</button>
                                        </td>
                                        <td>3:30</td>
                                        <td>
                                            <button class="btn bg-success 8" onclick="reservar()">8</button>
                                        </td>
                                        </tr>
                                        <tr>
                                        <td>10:00</td>
                                        <td>
                                            <button class="btn bg-success 9" onclick="reservar()">8</button>
                                        </td>
                                        <td>4:00</td>
                                        <td>
                                            <button class="btn bg-success 10" onclick="reservar()">8</button>
                                        </td>
                                        </tr>
                                        <tr>
                                        <td>10:30</td>
                                        <td>
                                            <button class="btn bg-success 11" onclick="reservar()">8</button>
                                        </td>
                                        <td>4:30</td>
                                        <td>
                                            <button class="btn bg-success 12" onclick="reservar()">8</button>
                                        </td>
                                        </tr>
                                        <tr>
                                        <td>11:00</td>
                                        <td>
                                            <button class="btn bg-success 13" onclick="reservar()">8</button>
                                        </td>
                                        <td>5:00</td>
                                        <td>
                                            <button class="btn bg-success 14" onclick="reservar()">8</button>
                                        </td>
                                        </tr>
                                        <tr>
                                        <td>11:30</td>
                                        <td>
                                            <button class="btn bg-success 15" onclick="reservar()">8</button>
                                        </td>
                                        <td>5:30</td>
                                        <td>
                                            <button class="btn bg-success 16" onclick="reservar()">8</button>
                                        </td>
                                        </tr>
                                        <tr>
                                        <td>12:00</td>
                                        <td>
                                            <button class="btn bg-success 17" onclick="reservar()">8</button>
                                        </td>
                                        <td>6:00</td>
                                        <td>
                                            <button class="btn bg-success 18" onclick="reservar()">8</button>
                                        </td>
                                        </tr>
                                        <tr>
                                        <td>12:30</td>
                                        <td>
                                            <button class="btn bg-success 19" onclick="reservar()">8</button>
                                        </td>
                                        <td>6:30</td>
                                        <td>
                                            <button class="btn bg-success 20" onclick="reservar()">8</button>
                                        </td>
                                        </tr>
                                        <tr>
                                        <td>1:00</td>
                                        <td>
                                            <button class="btn bg-success 21" onclick="reservar()">8</button>
                                        </td>
                                        <td>7:00</td>
                                        <td>
                                            <button class="btn bg-success 22" onclick="reservar()">8</button>
                                        </td>
                                        </tr>
                                        <tr>
                                        <td>1:30</td>
                                        <td>
                                            <button class="btn bg-success 23" onclick="reservar()">8</button>
                                        </td>
                                        <td>7:30</td>
                                        <td>
                                            <button class="btn bg-success 24" onclick="reservar()">8</button>
                                        </td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                        </table>
                    </div>
                </div>
                
            </div>
        
</body>
</html>
