body {
    background-color: beige;
}

h6:hover{
    color: brown;
}

.parallax {
    background-image: url("img/taxi.png");
  
    /* Set a specific height */
    height: 500px;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }